:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 8px;

  .thumbnail {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .thumbnail.selected {
    border: 6px solid #5757bd;
  }


}
