<mat-toolbar >
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <input type="text" [(ngModel)]="firstInputValue" class="page-width-input"/>
  <span class="separator">/</span> {{ stateString }}
  <div class="vertical-line"></div>
  <button mat-icon-button (click)="decrement()">
    <mat-icon class="butt-size">remove</mat-icon>
  </button>

  <input type="text" [(ngModel)]="percentInputValue" class="size-pages-width-input"/>

  <button mat-icon-button (click)="increment()">
    <mat-icon class="butt-size">add</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

