<mat-toolbar >
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">{{ title }}</span>
  <span class="example-spacer"></span>
  <input type="text" [(ngModel)]="activePage" (ngModelChange)="inputValue($event, 'first')" class="page-width-input"/>
  <span class="separator">/</span>
  {{ totalPages }}
  <div class="vertical-line"></div>
  <button mat-icon-button (click)="decrement()">
    <mat-icon class="butt-size">remove</mat-icon>
  </button>

  <input type="text" [(ngModel)]="percentInputValue" (ngModelChange)="inputValue($event, 'second')" class="size-pages-width-input"/>
  <button mat-icon-button (click)="increment()">
    <mat-icon class="butt-size">add</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <div class="edit-controls">
    @if (isEditMode) {
      <button mat-icon-button class="butt" (click)="toggleAdd('delete')">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleAdd('text')">
        <mat-icon [class.active]="activeMode === 'text'">title</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleAdd('rect')">
        <mat-icon [class.active]="activeMode === 'rect'">crop_din</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleAdd('circle')">
        <mat-icon [class.active]="activeMode === 'circle'">radio_button_unchecked</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleAdd('image')">
        <mat-icon [class.active]="activeMode === 'image'">image</mat-icon>
      </button>
    }
    <button mat-icon-button (click)="toggleEditMode()">
      <mat-icon>{{isEditMode ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </div>

</mat-toolbar>

