:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 8px;

  .page {
    transition: width 0.2s ease;

    img {
      width: 100%;
    }
  }

}
